<div style="float:left">
<%= render 'shared/side_menu' %>
</div>
<div class="row">
	<div class="span10 offset3">

<table>
	<tr>
		<td>
			<%= image_tag("/images/#{@header_detail.logo_name}", :size=> "70x70") %>
	    </td>
       <td>
			<%= image_tag url_for(:controller => 'header_details',:action => 'theme_image_detail', :id => @header_detail.id), width: "50", height: "50"%>
	    </td>
 
 
	</tr>
	

</table>
</div>
</div>



