<h3>Teaching staffs activation mail from <%=  @teaching_staff.account.name %></h3>
<p>Hello <%= @teaching_staff.name %></p>
<p>Your registration is verified and your account has been activated now!
<p>Login Details</p>
<p>Email:<%= @teaching_staff.user.email %></p>
<p>Password:******</p>
Cheers,
Arrivu Apps Learning Portal