<div id="container"  style="width: 508px;background-color: ghostwhite">
  <p><%= link_to @account, "http://#{@account}."+"#{Settings.domain.url}" %> </p>
  <hr>
  <b><p>Dear <%= @user.name %>,</p>  </b>
  <p>Thanks for your interest at Arrivu apps learning Portal,Your Account has been created!</p>
   <p> We're excited to help you get started.
     <%= "#{@account}."+"#{Settings.domain.url}" %>  </p>
  <p>
    You Can fully customize your learning portal,
  <ul>
      <li>
        You can upload your own logo
      </li>

    <li>
      You can change your static pages like terms and conditions,privacy policy
    </li>
    <li>
      The home page sliders also you can change,etc.
    </li>
    </ul>

  </p>
  <p>If you have any questions about this process or any other matter, please feel free to <br>
    contact us at <%= mail_to "support@arrivuapps.com" %> </p>
  <hr>
  Sincerely, <br>
  Arrivu Apps Learning Portal

</div>