<%- model_class = Topic -%>
<div id="wrap">
  <%= render 'shared/side_menu' %>
  <div id="content">
    <div class="container-fluid outer"  >
      <div class="row-fluid">
        <div class="span12 inner">
          <div class="row-fluid">
            <div class="span12">
              <div class="box">
                <header>
                  <div class="icons"><i class="icon-move"></i></div>
                  <h5> Category </h5>
                </header>
                <div id="collapse4" class="body">
                  <%= nested_topics @topic.subtree.arrange(:order => :created_at) %>
                  <p><%= link_to "Back to All Categories", topics_path %></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="push"></div>
  <div class="clearfix"></div>
</div>

