<h3 align = "center">Terms and Conditions</h3>
<table align="center">
<tr>
	  <td>
		<%= @terms_and_condition.title%>
	</td> 
</tr>	
<tr>
	<td>
		<%= @terms_and_condition.desc.html_safe %>
	</td>
</tr>


</table>
