<div class="topic">
  <div class="created_at">
    <%= link_to "Add sub Category", new_topic_path(:parent_id => topic) %> |
    <%= link_to "edit" ,edit_topic_path(topic) %> |
    <%= link_to "Destroy", topic, :confirm => "Are you sure?", :method => :delete %>
  </div>
  <div class="content">
    <%= link_to topic.name, topic %>
  </div>
</div>
