
<div style="float:left">
<%= render 'shared/side_menu' %>
</div>
<div class="row">
	<div class="span10 offset3">
<table width="500px"><tr><%= @social_stream_comments.facebook_comment_script%></br/></br/>
<%= @social_stream_comments.twitter_comment_script%></tr>
</table>
</div>
</div>
