@charset "utf-8";
/* CSS Document */
.buttonleft135{
	margin-left:135px;
}
.buttontop30{
	margin-top:30px;
}
.buttontop200{
	margin-top:200px;
}
.buttontopminus20{
	margin-top:-20px;
}

.blue-button a,.form-blue-button {
	border:0px;
	/*background-color:#3bb3e0;*/
	background-color:#00a3e3;
	font:17px  'Open Sans', sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 25px 10px 25px;
	/*
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #156785;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #156785;
	cursor:pointer;
}

.blue-button a:active,.form-blue-button:active {
	top:3px;
	background-color:#00a3e3;
	/*
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	*/
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 1px 0px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 1px 0px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 1px 0px 0px #156785;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 1px 0px 0px #156785;
}

.blue-button a::before {
}

.blue-button a:active::before,.form-blue-button:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}
.blue-button a:hover,.form-blue-button:hover {
	opacity:0.9;
	/*
	background-color:#f58220;
	background-image: linear-gradient(bottom, #f58220 0%, #eb9144 100%);
	background-image: -o-linear-gradient(bottom, #f58220 0%, #eb9144 100%);
	background-image: -moz-linear-gradient(bottom, #f58220 0%, #eb9144 100%);
	background-image: -webkit-linear-gradient(bottom, #f58220 0%, #eb9144 100%);
	background-image: -ms-linear-gradient(bottom, #f58220 0%, #eb9144 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #d87119, 0px 5px 0px 0px #bc661d;
	-moz-box-shadow: inset 0px 1px 0px #d87119, 0px 5px 0px 0px #bc661d;
	-o-box-shadow: inset 0px 1px 0px #d87119, 0px 5px 0px 0px #bc661d;
	box-shadow: inset 0px 1px 0px #d87119, 0px 5px 0px 0px #bc661d;
	*/
}
.orange-button a {
	border:0px;
	background-color:#f58220;
	font:17px  'Open Sans', sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 25px 10px 25px;
	background-image: linear-gradient(bottom, rgb(245,130,32) 0%, rgb(250,109,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(245,130,32) 0%, rgb(238,109,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(245,130,32) 0%, rgb(238,109,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(245,130,32) 0%, rgb(238,109,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(245,130,32) 0%, rgb(238,109,0) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(245,130,32)),
	color-stop(1, rgb(250,109,0))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #f15a22, 0px 3px 0px 0px #f15a22;
	-moz-box-shadow: inset 0px 1px 0px #f15a22, 0px 3px 0px 0px #f15a22;
	-o-box-shadow: inset 0px 1px 0px #f15a22, 0px 3px 0px 0px #f15a22;
	box-shadow: inset 0px 1px 0px #f15a22, 0px 3px 0px 0px #f15a22;
	cursor:pointer;
}

.orange-button a:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(250,109,0) 0%, rgb(245,130,32) 100%);
	background-image: -o-linear-gradient(bottom, rgb(250,109,0) 0%, rgb(245,130,32) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(250,109,0) 0%, rgb(245,130,32) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(250,109,0) 0%, rgb(245,130,32) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(250,109,0) 0%, rgb(245,130,32) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(245,130,32)),
	color-stop(1, rgb(250,109,0))
	);
	-webkit-box-shadow: inset 0px 1px 0px #e66a00, 0px 1px 0px 0px #e66a00;
	-moz-box-shadow: inset 0px 1px 0px #e66a00, 0px 1px 0px 0px #e66a00;
	-o-box-shadow: inset 0px 1px 0px #e66a00, 0px 1px 0px 0px #e66a00;
	box-shadow: inset 0px 1px 0px #e66a00, 0px 1px 0px 0px #e66a00;
}

.orange-button a::before {
}

.orange-button a:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}
.orange-button a:hover{
	opacity:0.9;
	/*
	background-color:#f58220;
	background-image: linear-gradient(bottom, #f58220 0%, #eb9144 100%);
	background-image: -o-linear-gradient(bottom, #f58220 0%, #eb9144 100%);
	background-image: -moz-linear-gradient(bottom, #f58220 0%, #eb9144 100%);
	background-image: -webkit-linear-gradient(bottom, #f58220 0%, #eb9144 100%);
	background-image: -ms-linear-gradient(bottom, #f58220 0%, #eb9144 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #d87119, 0px 5px 0px 0px #bc661d;
	-moz-box-shadow: inset 0px 1px 0px #d87119, 0px 5px 0px 0px #bc661d;
	-o-box-shadow: inset 0px 1px 0px #d87119, 0px 5px 0px 0px #bc661d;
	box-shadow: inset 0px 1px 0px #d87119, 0px 5px 0px 0px #bc661d;
	*/
}
/*
.blue-button a,.form-blue-button {
	border:0px;
	background-color:#00a3e3;
	font:17px  'Open Sans', sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:15px 25px 15px 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #156785;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 3px 0px 0px #156785;
	cursor:pointer;
}

.blue-button a:active,.form-blue-button:active {
	top:3px;
	background:#00a3e3;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785;
}

.blue-button a::before {
}

.blue-button a:active::before,.form-blue-button:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}
.blue-button a:hover,.form-blue-button a:hover {
	opacity:0.9;
}
*/