<h3 align = "center">Terms and Conditions</h3>
<table align="center">
  <%= simple_form_for(:terms_and_conditions,:url => url_for(:controller => 'terms_and_conditions',:action => 'terms')) do |f| %>
  <tr>
    <td>
      <%= @terms_and_conditions.title unless @terms_and_conditions.nil?%>
    </td>
  </tr>
  <tr>
    <td>
      <%= @terms_and_conditions.desc.html_safe unless @terms_and_conditions.nil? %>
    </td>
  </tr>
      <%end %>

</table>