
<div id="topmenumore">
<div id="topmenuinner">
<div class="closebutton"><a href="#" id="moreclose">X</a></div>
  
<div class="topmodule">
  <h5>Company</h5>
  <div class="footerlinks bottom5">
  <a href="http://www.jigsawacademy.com/about-us">About Jigsaw Academy</a>
  <a href="http://www.jigsawacademy.com/management">Management Team</a>
  <a href="http://www.jigsawacademy.com/faculty">Jigsaw Instructors</a>
  <a href="http://www.jigsawacademy.com/jigsaw-alumni">Jigsaw Alumni</a>
  <a href="http://www.jigsawacademy.com/careers-at-jigsaw">Careers at Jigsaw</a>
  <a href="http://www.jigsawacademy.com/testimonials">Student Testimonials</a>
 </div></div>
  
<div class="topmodule">
  <h5>Free Resources</h5>
  <div class="footerlinks bottom5">
  <a href="http://analyticstraining.com/" target="_blank">Jigsaw Blog</a>
  <a href="http://www.jigsawacademy.com/resources-videos">Useful Videos</a>
  <a href="http://www.jigsawacademy.com/resources-ebooks">eBooks & Guides</a>
  <a href="http://www.jigsawacademy.com/resources-articles">Useful Articles</a>
  </div>
  </div>

<div class="topmodule">
  <h5>Media Center</h5>
  <div class="footerlinks bottom5">
  <a href="http://www.jigsawacademy.com/press-releases">Press Releases</a>
  <a href="http://www.jigsawacademy.com/business-analytics-news">Press Coverage</a>
  <a href="http://www.jigsawacademy.com/media-kit">Media Kit</a>
  </div></div>
  
<div class="topmodule">
  <h5>Useful Links</h5>
  <div class="footerlinks bottom5">
  <a href="http://www.jigsawacademy.com/course-schedule">Course Schedule</a>
  <a href="#">Employers</a>
  <a href="http://www.jigsawacademy.com/what-is-SAS">About the Language of SAS Training</a>
   <a href="http://www.jigsawacademy.com/what_is_data_science">What is Data Science?</a>
  <a href="http://www.jigsawacademy.com/analytics-placement">Career Services</a>
  <a href="http://www.jigsawacademy.com/how-online-training-works">How Online Training Works?</a>
  <a href="http://www.jigsawacademy.com/sas-virtual-lab">About Virtual Lab</a>
  <a href="http://www.jigsawacademy.com/faqs">FAQs</a>
  </div></div>

</div>
</div>
<div id="topmenucourse">
<div id="topmenuinner">
<div class="closebutton"><a href="#" id="courseclose">X</a></div>
<div class="topmodule">
  <h5>Beginners Courses</h5>
  <div class="footerlinks bottom5">
  <a href="http://www.jigsawacademy.com/jigsaw/courses/foundation-analytics">Foundation Course in Analytics</a>
  <a href="http://www.jigsawacademy.com/analytics-courses/data-science-big-data">Data Scientist Certification</a>
  </div></div>  
  
<div class="topmodule">
  <h5>Advanced Courses</h5>
  <div class="footerlinks bottom5">
  <a href="http://www.jigsawacademy.com/jigsaw/courses/retail-analytics-3">Advanced Certification in Retail Analytics</a>
  <a href="http://www.jigsawacademy.com/analytics-courses/financial-analytics">Advanced Certification in Financial Analytics</a>
  <a href="http://www.jigsawacademy.com/analytics-courses/r-analytics">Analytics with R</a>
  </div></div>  

<div class="topmodule">
  <h5>Short Video Courses</h5>
  <div class="footerlinks bottom5">
  <a href="http://www.jigsawacademy.com/online-analytics-training/fraud-analytics">Fraud Analytics Case study</a>
  <a href="http://www.jigsawacademy.com/online-analytics-training/cluster-analysis">Cluster Analysis</a>
  </div></div>  

<div class="topmodule">
  <h5>Others</h5>
  <div class="footerlinks bottom5">
  <a href="http://www.jigsawacademy.com/corporate-training-analytics">Corporate Training</a>
  <a href="http://www.jigsawacademy.com/college-training-analytics">College Workshops</a>
  </div></div>

</div>
</div>

<!-- HEADER START FORM HERE -->
<div id="header">
<div class="headerinner">
<div class="left"><a href="http://www.jigsawacademy.com/"><img src="http://www.jigsawacademy.com/assets/images/jigsaw_logo.jpg" width="236" height="64" alt="Jigsaw logo" /></a></div>
<div class="right"><div class="navigation">
<ul>
<li class="courses"><a href="#">courses</a></li>
<li><a href="http://www.jigsawacademy.com/why-jigsaw">why jigsaw?</a></li>
<li><a href="http://www.jigsawacademy.com/learn-analytics">what is analytics?</a></li>
<li><a href="http://www.jigsawacademy.com/contact">contact</a></li>
<li class="more"><a href="#">more</a></li>
<li class="login"><a href="http://www.jigsawacademy.com/student_login" target="_blank">login</a></li>
</ul>
</div></div>

</div>
</div>











