<div class="topic_index">
<div class="well" style="width:100%; padding: 8px 0;">

 <ul class="nav nav-list">
            <li><label class="tree-toggler nav-header"><%= topic.name %></label>
                <ul class="nav nav-list tree">
                	 <li><a href="#"><%= sub_topics.name%></a></li>
                </ul>
              </li>
   </ul>
</div>
</div>