.ribbon1
{
    position: relative;
    width: 50%;
    font-size: 1.3em;
    font-weight: bold;
    padding: 7px 20px 7px 25px;
    margin: 0 10px 25px -10px;
    color: #fff;
    background-color: #eee;
    text-shadow: 0px 1px 2px #bbb;
    -webkit-box-shadow: 0px 2px 4px #888;
    -moz-box-shadow: 0px 2px 4px #888;
    box-shadow: 0px 2px 4px #888;
}

.ribbon1:before, .ribbon1:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

/* wrap */
.ribbon1:after {
    left: 0px;
    top: 100%;
    border-width: 5px 5px;
    border-style: solid;
    border-color: #666 #666 transparent transparent;
}

.author-image {
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -moz-box-shadow: 0 1px 2px #8d8d8d;
    -ms-box-shadow: 0 1px 2px #8d8d8d;
    -webkit-box-shadow: 0 1px 2px #8d8d8d;
    box-shadow: 0 1px 2px #8d8d8d;
    height: 48px;
    width: 48px
}

.quoted-review .review-text {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    white-space: normal;
}
.paragraph-end.details-light {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(245,245,245,0)),color-stop(100%,rgba(245,245,245,1)));
    background-image: -webkit-linear-gradient(left,rgba(245,245,245,0),rgba(245,245,245,1));
    background-image: -moz-linear-gradient(left,rgba(245,245,245,0),rgba(245,245,245,1));
    background-image: -ms-linear-gradient(left,rgba(245,245,245,0),rgba(245,245,245,1));
    background-image: -o-linear-gradient(left,rgba(245,245,245,0),rgba(245,245,245,1));
    background: linear-gradient(to right,rgba(245,245,245,0),rgba(245,245,245,1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#00f5f5f5',EndColorStr='#f5f5f5');
}
.featured-review .author-name {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    display: inline-block;
    font-size: 13px;
    margin-top: 2px;
    max-height: 17px;
    max-width: 100%;
    overflow: hidden;
    margin-right: 45px;
    text-align: left;
}
.featured-review-star-rating {
    display: inline-block;
    margin-left: -5px;
    position: relative;
    top: 0px;
    float:left;
}
.tiny-star.star-rating-non-editable-container {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAcklEQ吃WTVoEA4cSjTDFalAM5uPVCFTABY0/ASSDBKBiXNRNcqRiADBao1Bj6dJdAAAAAElFTkSuQmCC);
    height: 14px;
    width: 69px;
}
.star-rating-non-editable-container {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAcklEQ吃WTVoEA4cSjTDFalAM5uPVCFTABY0/ASSDBKBiXNRNcqRiADBao1Bj6dJdAAAAAElFTkSuQmCC) top left repeat-x;
    left: -1px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 1px;
}
.tiny-star .current-rating {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAdElEQ她uEAwcSjTCFB+AYjAfr0agAgNo/AUgGRQAFTOgbpIjFQMAtcfKBD81ItYAAAAASUVORK5CYII=) left bottom;
    height: 14px;
}
.current-rating {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAdElEQ她uEAwcSjTCFB+AYjAfr0agAgNo/AUgGRQAFTOgbpIjFQMAtcfKBD81ItYAAAAASUVORK5CYII=) left bottom repeat-x;
    display: block;
    position: absolute;
}
.reviews .rating-box, .reviews .featured-review {
    margin-top: 6px;
    vertical-align: top;
}
.featured-review {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: 375px;
    min-height: 85px;
    padding: 0 5px 0 78px;
    position: relative;
    white-space: nowrap;
}
.featured-review .author {
    left: 0;
    padding-left: 10px;
    position: absolute;
    text-align: center;
    width: 60px;
}
.featured-review .author, .featured-review .review-text {
    display: inline-block;
    vertical-align: top;
}
.author-image {
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -moz-box-shadow: 0 1px 2px #8d8d8d;
    -ms-box-shadow: 0 1px 2px #8d8d8d;
    -webkit-box-shadow: 0 1px 2px #8d8d8d;
    box-shadow: 0 1px 2px #8d8d8d;
    height: 48px;
    width: 48px;
}
.featured-review .quoted-review {
    color: #8d8d8d;
    font: italic 300 16px "Roboto","Georgia",serif;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    max-width: 90%;
    margin-top: 25px;
}
.quoted-review .review-text {
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    max-height: 100%;
    overflow: hidden;
    text-align: justify;
    vertical-align: top;
    white-space: normal;
}
.review-title {
    color: #555;
    font-weight: 500;
}
.review-text
.quoted-review .review-text {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    white-space: normal;
}
.review-body {
    margin: 4px 0 20px 57px;
    max-height: 308px;
    overflow: hidden;
}


.resource .tag {

    zoom: 1;
    height: 100%;
    float: left;
    margin: 0px 0px;

}
.resource .tag ul{margin: -10px;}
.tags:before, .tags:after {
    content: '';
    display: table;
}
.tags:after {
    clear: both;
}
.resource .tags li {
    position: relative;
    float: left;
    width: auto;
    margin: 0 0 8px 12px;
}
.tags li:active {
    margin-top: 1px;
    margin-bottom: 7px;
}
.tags li:after {
    content: '';
    z-index: 2;
    position: absolute;
    top: 10px;
    right: -2px;
    width: 5px;
    height: 6px;
    opacity: .95;
    background: #eb6b22;
    border-radius: 3px 0 0 3px;
    -webkit-box-shadow: inset 1px 0 #99400e;
    box-shadow: inset 1px 0 #99400e;
}
.tags a, .tags span {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tags a {
    height: 26px;
    line-height: 23px;
    padding: 0 7px 0 7px;
    font-size: 0.85em;
    font-style: italic;
    color: #555;
    text-decoration: none;
    text-shadow: 0 1px white;
    background: #fafafa;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #dadada #d2d2d2 #c5c5c5;
    border-radius: 3px 0 0 3px;
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: -o-linear-gradient(top, #fcfcfc, #f0f0f0);
    background-image: linear-gradient(to bottom, #fcfcfc, #f0f0f0);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tags a:hover span {
    padding: 0 7px 0 6px;
    max-width: 40px;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.tags span {
    position: absolute;
    top: 1px;
    left: 100%;
    z-index: 2;
    overflow: hidden;
    max-width: 0;
    height: 24px;
    line-height: 21px;
    padding: 0 0 0 2px;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    background: #eb6b22;
    border: 1px solid;
    border-color: #d15813 #c85412 #bf5011;
    border-radius: 0 2px 2px 0;
    opacity: .95;
    background-image: -webkit-linear-gradient(top, #ed7b39, #df5e14);
    background-image: -moz-linear-gradient(top, #ed7b39, #df5e14);
    background-image: -o-linear-gradient(top, #ed7b39, #df5e14);
    background-image: linear-gradient(to bottom, #ed7b39, #df5e14);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transition-property: padding, max-width;
    -moz-transition-property: padding, max-width;
    -o-transition-property: padding, max-width;
    transition-property: padding, max-width;
}

.author_image{
  margin-left: -51px;
}
.star{
 float: right;
    margin: 10px 0px;
}


.evenflow {
    position: relative;
    top: 0em;
    display: table;
    margin: 0 -1.25em 0 -1.25em;
    width: 104%;
    border-collapse: separate;
}

.evenflow .resource-row {
    display: table-row;
    border-collapse: collapse;
}

.evenflow .resource-row .resource {
    outline: 0px solid #dbdbdb;
    float: none;
    display: table-cell;
}
.resource {
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    background-position: center 0;
    background-repeat: no-repeat;
    -webkit-background-size: 21em auto;
    -moz-background-size: 21em auto;
    -ms-background-size: 21em auto;
    -o-background-size: 21em auto;
    background-size: 21em auto;
    color: #545454;
    padding-bottom: 1em;
    position: relative;
    font-weight: 600;
    font-size: .95em;
    float: none;
    display: table-cell;
    box-shadow: 0px 0px 15px 0px #ddd;
    background:#fff;
}


.resource .type-tag-positioner {

    margin: 0;
    background-color: rgba(0,0,0,0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(70%, rgba(0,0,0,0.1)));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 70%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 70%);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 70%);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 70%);
    background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 70%);
    top: 5px;
    background-repeat: no-repeat;
    left: 5px;
    display: block;

    margin: 0 0 -12em;
    width: 100%;
    height: 11.8em;
    pointer-events: none;
}
.container{
    margin: 0px auto;
    min-width: 400px;
    max-width: 100%;
}
.evenflow .resource-row .resource {

    float: none;
    display: table-cell;

    text-align: left;

    margin-top: 35px;

min-height: 420px;
}
.resource .type-tag-positioner .type {
    display: block;
    font-size: 1em;

    position: absolute;
    top: 9em;
    background-color: rgba(0,0,0,0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(70%, rgba(0,0,0,0.1)));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 70%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 70%);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 70%);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 70%);
    background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 70%);
}
.resource .details {
    margin: 0 0 0 0;
    width: 100%;
    display: block;
    position: relative;
    clear: both;
}
.resource .details .author, .resource .details .info, .resource .details .desc, .resource .details .product-status {
    margin: 5px 15px;
}
.resource .details ul {

    border: 1px #dbdbdb solid;
    border-width: 1px 0px;
    color: #aaaaaa;
    height: 3em;
    margin: -1px 15px;
    font-size: 0.85em;
    font-weight: 600;
    padding-top: 1em;
}
.resource h2 {
   
    padding: 0;
    font-size: 1.35em;
    line-height: 1.35em;

}
.resource h2 a {
    padding: 9.5em 15px 0em 15px;
    display: block;
}
