.footer {
background: #fff;
padding-top: 20px;
margin-top: 50px;
position: relative;
width: 100%;
border-top: 1px solid #ddd;
}

.footer .mission {
}

.four, .row .four {
width: 33.33333%;
}

.footer .mission {
max-width: 315px;
}

.four, .row .four {
width: 33.33333%;
}

.column, .columns {
float: left;
min-height: 1px;
padding: 0 15px;
position: relative;
}

.footer .columns.three, .footer .row .columns.three, .row .footer .columns.three {
width: 22%;
}

.two, .row .two {
width: 16.66667%;
}



.footer .mission img {
height: 30px;
width: 30px;
margin-bottom: 15px;
}

.footer .mission p {
color: #888;
margin-top: 15px;
}

.footer .mission p {
display: block;
clear: left;
color: #888;
line-height: 1.5;
margin: 0 0 15px;
}

.footer p {
font-size: 13px;
}

.footer p .headinglike{
	font-size: 20px;
	font-weight: 500;
}

.footer .mission ul.social {
border-top: 0px solid #ddd;
margin: 15px 0;
padding: 15px 0 0;
}

.footer .mission ul.social li {
display: inline-block;
margin: 0 4px 0 0;
}

.footer .mission ul li {
font-size: 1.25em;
color: #999;
margin-bottom: 10px;
}

.footer .mission ul.social li a {
display: block;
height: 26px;
width: 26px;
}

.footer .mission ul a {
font-weight: bold;
color: #999;
}

.footer .mission p.copyright {
color: #bbb;
}

.footer_icon
{
width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.footer .mission p {
display: block;
clear: left;
color: #888;
line-height: 1.5;
margin: 0 0 15px;
}

.footer p {
font-size: 13px;
}


.footer ul.link-list {
text-align: left;
}

.footer .link-list {
font-size: 1.25em;
}

ul.inline-list, ul.link-list {
margin: 0 0 17px -22px;
padding: 0;
list-style: none;
overflow: hidden;
}

.right {
float: right;
}

.footer ul.link-list li.heading {
font-weight: bold;
margin-bottom: 4px;
}

.footer ul.link-list li {
color: #999;
display: block;
float: none;
font-size: 13px;
}

.footer .link-list li, .footer .link-list a {
color: #999;
display: block;
line-height: 1.8;
}


ul.inline-list>li, ul.link-list>li {
list-style: none;
float: left;
margin-left: 22px;
display: block;
}
ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}



.footer ul.link-list li.heading a {
color: #777;
}

.footer .link-list .heading a {
font-weight: bold;
color: #777;
margin-bottom: 5px;
}

.footer ul.link-list a {
color: #999;
}

.footer .link-list li, .footer .link-list a {
color: #999;
display: block;
line-height: 1.8;
}

.footer .link-list li a:hover {
text-decoration: underline;
}

ul.inline-list>li>*, ul.link-list>li>* {
display: block;
}

/*New Footer CSS*/

.footer {
background-color: #E5F4F9;
border-top: 1px solid #C3DEED;
clear: both;
float: left;
height: auto;
position: relative;
width: 100%;
margin-top: 10px;
}
.inner_footer {
clear: both;
height: auto;
margin-left: auto;
margin-right: auto;
position: relative;
width: 980px;
}
.footer div.flinksparent {
display: inline-block;
width: 100%;
}
.footer ul {
margin-left: 22px;
float: left;
margin-right: 20px;
margin-top: 22px;
display: inline-block;
width: 203px;
padding: 0px;
}
.footer ul li:first-child {
border-top: 0px none;
}
.footer ul li {
border-bottom: 1px solid #BCE1EA;
border-top: 1px solid #FFFFFF;
padding-bottom: 5px;
padding-top: 5px;
list-style-type: none;
}
.footer ul li a {
color: #333333;
font-size: 13px;
text-shadow: 0 1px 0 #FFFFFF;
list-style-type: none;
}


.copyright {
height: 30px;
background-color: #FFFFFF;
}
.footer div.copyright {
bottom: 3px;
border-top: 1px solid #BCE1EA;
border-bottom: 1px solid #E0E0E0;
bottom: 3px;
color: #699BB3;
display: block;
font-size: 13px;
padding-right: 10px;
padding-top: 10px;
right: 36px;
text-align: right;
}

.copyright span {
float: left;
}
.copyright span a {
color: #333333;
font-size: 11px;
margin-left: 19px;
margin-right: 7px;
text-shadow: 0 1px 0 #FFFFFF;
}
.copyright p {
float: right;
margin: 0;
padding: 0;
}
.copyright span a:hover {
color: #0694D0;
}

/*New footer jigsaw*/


body {
margin: 0px;
overflow: scroll;
}
.main_layout {
width: 980px;
/*height: 2000px;*/
margin-left: auto;
margin-right: auto;
}
.content_header {
width: 980px;
}
header {
width: 980px;
height: 140px;
background-color: #fff;
margin: auto;
position: relative;
}
.logo {
display: block;
float: left;
margin-bottom: 5px;
margin-top: 6px;
}


.logo-tagline {
float: left;
margin-left: 27px;
margin-top: 121px;
width: 200px;
}

.top_right_header {
width: auto;
}
.top_right_header {
width: auto;
height: 137px;
float: right;
margin: 0px;
padding: 0px;
}
.student_btn {
float: right;
}
.student_btn a {
border-right: 1px solid #0C8CC3;
color: #0C8CC3;
display: block;
float: left;
font-size: 14px;
margin-top: 21px;
padding-left: 8px;
padding-right: 9px;
text-align: center;
text-shadow: 0 1px 0 #FFFFFF;
}
.social_header {
width: auto;
float: right;
margin: 110px 0px 0 0;
padding: 0px;
clear: both;
}
.social_icon {
float: right;
}
.social_icon {
width: 105px;
height: 43px;
}
.social_icon .linked_icon {
width: 30px;
height: 30px;
background-image: url(linked_icon.jpg);
background-repeat: no-repeat;
display: block;
margin-right: 7px;
float: left;
}
.facebook_icon {
width: 30px;
height: 30px;
background-image: url(facebook_icon.jpg);
background-repeat: no-repeat;
display: block;
margin-right: 7px;
float: left;
}
.twitter_icon {
width: 30px;
height: 30px;
background-image: url(twitter_icon.jpg);
background-repeat: no-repeat;
display: block;
float: left;
}

nav {
width: 980px;
float: left;
height: 45px;
}
nav ul {
width: 100%;
background-color: #0c8cc3;
height: 45px;
border-radius: 5px;
margin: 0;
padding: 0;
}
nav ul li {
float: left;
line-height: 45px;
list-style-type: none;
}
li {
display: list-item;
text-align: -webkit-match-parent;
}
nav ul .menu_left {
background-image: url(menu_corner_left.png);
background-repeat: no-repeat;
width: 16px;
height: 45px;
display: block;
float: left;
}



nav ul li a {
color: #fff;
display: block;
font-size: 14px;
text-shadow: 0 1px 0 #015174;
text-transform: uppercase;
font-weight: bold;
}
nav ul li:hover a.main_menu {
background: url("main_menu.png");
background-repeat: repeat-x;
width: auto;
height: 45px;
display: block;
float: left;
padding-left: 7px;
padding-right: 8px;
}
nav ul li:hover .menu_right{background:transparent;}
nav ul li:hover .menu_left{background:transparent;}
nav ul .main_menu {
background-image: url("main_menu.png");
background-repeat: repeat-x;
width: auto;
height: 45px;
display: block;
float: left;
padding-left: 7px;
padding-right: 8px;
}
.middle_box_2 a:active, a:hover {
color: #F60;
}
a:hover {
text-decoration: none;
}
nav ul li.menu_active .menu_left {
background-image: url("menu_corner_left.png");
background-repeat: no-repeat;
}

nav ul li.menu_active a.main_menu {
background-image: url("main_menu.png");
background-repeat: repeat-x;
}
nav ul li a.main_menu {
background: transparent;
color: #FFF;
text-decoration: none;
}
nav ul li a:first-child {
padding-left: 29px;
border-radius: 5px 0px 0px 5px;
}

nav ul li .menu_right {
background: transparent;
}

nav ul li.menu_active .menu_right {
background-image: url("menu_corner_right.png");
background-repeat: no-repeat;
}
nav ul li .menu_right {
background: transparent;
}
nav ul .menu_right {
background-image: url("menu_corner_right.png");
background-repeat: no-repeat;
width: 16px;
height: 45px;
display: block;
float: left;
}

nav ul .menu_left {
background-image: url("menu_corner_left.png");
background-repeat: no-repeat;
width: 16px;
height: 45px;
display: block;
float: left;
}
.main_container {
width: 980px;
margin-top: 15px;
float: left;
}
.content_top {
width: 980px;
height: auto;
}
.html_widget h2.article_heading {
display: none;
}
h2.article_heading {
border-bottom: 1px solid #E3E3E3;
color: #006F9D;
font-size: 18px;
line-height: 26px;
margin-left: 10px;
margin-right: 10px;
margin-top: 8px;
padding-left: 0;
text-transform: uppercase;
}
.widget_box h2 {
border-bottom: 1px solid #B9DCEF;
color: #006F9D;
font-size: 18px;
line-height: 26px;
padding-top: 0;
padding-left: 0;
margin-top: 0;
}
nav ul li .menu_left {
background: transparent;
}
nav ul li a.main_menu {
background: transparent;
color: #FFF;
}

h2 {
display: block;
font-size: 1.5em;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
.content_top .slide, .content_bottom .slide {
background-color: #E8F0F3;
border: 1px solid #FFFFFF;
border-radius: 5px 5px 5px 5px;
box-shadow: 0 0 1px #065E81;
height: 270px;
margin-top: 5px;
width: 980px;
}
.slide {
display: inline-block;
width: 100%;
}
.content_top .slide .slide-image img, .content_bottom .slide .slide-image img {
max-width: 443px;
float: left;
cursor: pointer;
}
.slide img {
float: left;
max-width: 440px;
}
img {
border: none;
outline: none;
}
.content_footer {
width: 980px;
}
.subtitle {
font-size: 20px;
color: #002B53;
padding-right: 97px;
margin-left: 0px;
}
.slide-descr ul {
width: 330px;
height: 200px;
color: #002B53;
padding: 0px;
margin-left: 28px;
margin-top: 26px;
}
.slide-descr ul li {
margin-bottom: 5px;
font-size: 14px;
list-style-image: url("arrow1.png");
text-align: left;
}
/*.widget_box ul li {
list-style-image: url("dot.png");
padding-bottom: 19px;
}
*/

ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
.content_middle {
width: 980px;
}
.content_top .slide .slide-text-right, .content_bottom .slide .slide-text-right {
float: right;
width: 423px;
}
.slide-image {
margin-top: 6px;
position: relative;
}
.top_content_2 {
position: relative;
margin-bottom: 20px;
width: 982px;
}
img {
border: none;
outline: none;
}
.top_b {
padding-top: 30px;
}
.place_arrow {
background-image: url("place_arrow.png");
background-repeat: no-repeat;
height: 65px;
position: absolute;
right: 377px;
top: 82px;
width: 37px;
}
* {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.content_top div .logos {
margin-bottom: 10px;
margin-left: 37px;
}
.logos img {
margin-left: 15px;
}

.box1 h2 {
border-bottom: 1px solid #E3E3E3;
color: #006F9D;
font-size: 18px;
line-height: 26px;
margin-left: 10px;
margin-right: 10px;
margin-top: 8px;
padding-left: 0;
text-transform: uppercase;
}
.foundation_courses_box h2 a {
color: #006F9D;
}
a {
border: none;
outline: none;
text-decoration: none;
text-rendering: optimizeLegibility;
}
.foundation_img {
float: left;
margin-left: 11px;
margin-right: 0;
margin-top: 10px;
width: 21%;
}
.foundation_img img {
border: 1px solid #CCCCCC;
height: 111px;
width: 150px;
}

.foundation_content {
float: left;
padding-left: 8px;

margin-top: 65px;
}
.box1 p {
font-size: 14px;
text-align: justify;
padding-left: 10px;
padding-right: 15px;
padding-top: 10px;
color: #333;
line-height: 23px;
margin: auto;
}

.box1 .right_btn {
bottom: 9px;
float: right;
margin-right: 3px;
margin-top: 17px;
position: absolute;
right: 0;
}
.right_btn {
float: right;
margin-right: 15px;
margin-top: 25px;
right: 5px;
}
.widget_box .allcourses_btn {
background-image: url("btn_bg.png");
background-repeat: repeat-x;
border-left: 1px solid #0584BB;
border-radius: 5px 5px 5px 5px;
border-right: 1px solid #0584BB;
color: #FFFFFF;
display: block;
float: left;
font-size: 14px;
font-weight: bold;
margin-right: 10px;
margin-top: 7px;
padding: 11px;
text-align: center;
text-decoration: none;
text-shadow: 0 1px 0 #000000;
}



.colum_right + .box1 {
margin-right: 260px;
}

.box1 {
margin-bottom: 20px;
}
.box1 {
background: #ffffff;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
border-radius: 3px;
border: 1px solid #E1E1E1;
min-height: 237px;
position: relative;
}

.colum_right {
background: none repeat scroll 0 0 #EEF6F9;
overflow: hidden;
border: 1px solid #FFFFFF;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 0 1px #117398;
float: right;
padding: 10px;
position: relative;
width: 226px;
min-height: 217px;
}

/*h2.article_heading {
border-bottom: 1px solid #E3E3E3;
color: #006F9D;
font-size: 18px;
line-height: 26px;
margin-left: 10px;
margin-right: 10px;
margin-top: 8px;
padding-left: 0;
text-transform: uppercase;
}*/
.advanced_courses_box ul {
margin-left: 19px;
padding: 0;
}
li {
display: list-item;
text-align: -webkit-match-parent;
}
.testimonials_wrap {
background: none repeat scroll 0 0 #EEF6F9;
margin: 30px auto 22px auto;
padding: 10px 10px 44px;
border: 1px solid #FFFFFF;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 0 1px #117398;
}
.testimonials_wrap h2 {
color: #006F9D;
font-size: 18px;
margin: 10px auto;
line-height: 26px;
}
h2.article_heading {
border-bottom: 1px solid #E3E3E3;
color: #006F9D;
font-size: 18px;
line-height: 26px;
margin-left: 10px;
margin-right: 10px;
margin-top: 8px;
padding-left: 0;
text-transform: uppercase;
}
/*.widget_box h2 {
border-bottom: 1px solid #B9DCEF;
color: #006F9D;
font-size: 18px;
line-height: 26px;
padding-top: 0;
padding-left: 0;
margin-top: 0;
}*/

.colum_right {
background: none repeat scroll 0 0 #EEF6F9;
overflow: hidden;
border: 1px solid #FFFFFF;
border-radius: 3px 3px 3px 3px;
box-shadow: 0 0 1px #117398;
float: right;
padding: 10px;
position: relative;
width: 226px;
min-height: 217px;
}

h2.article_heading a {
color: #006F9D;
float: none;
font-size: 18px;
line-height: 26px;
margin: 10px auto;
text-decoration: none;
}
.testimonials_wrap a {
float: right;
color: #1793c7;
font-size: 14px;
text-decoration: underline;
margin-top: 18px;
}
advanced_courses_box ul {
margin-left: 19px;
padding: 0;
}
.widget_box ul li {
/*list-style-image: url("dot.png");*/
padding-bottom: 19px;
}
.advanced_courses_box ul li a {
text-decoration: underline;
}
.colum_right.ds .allcourses_btn {
z-index: 100;
}
.widget_box .allcourses_btn {
background-image: url("btn_bg.png");
background-repeat: repeat-x;
border-left: 1px solid #0584BB;
border-radius: 5px 5px 5px 5px;
border-right: 1px solid #0584BB;
color: #FFFFFF;
display: block;
float: left;
font-size: 14px;
font-weight: bold;
margin-right: 10px;
margin-top: 7px;
padding: 11px;
text-align: center;
text-decoration: none;
text-shadow: 0 1px 0 #000000;
}
.advanced_courses_box a {
clear: both;
color: #0C8CC3;
font-size: 13px;
padding-bottom: 10px;
}

.testimonials {
border-bottom: 1px solid #CCCCCC;
}
.testimonials_wrap .left_img {
float: left;
height: 80px;
margin-right: 19px;
margin-top: 6px;
width: 80px;
display: block;
}
.testimonials .left_img a {
display: block;
float: none;
margin-top: 0;
}
.testimonials_wrap a {
float: right;
color: #1793c7;
font-size: 14px;
/*text-decoration: underline;*/
margin-top: 18px;
}

.testimonials_wrap .testimonials .right_testimonials {
margin-left: 0px;
height: 98px;
width: 100%;
}
.testimonials_wrap .testimonials .right_testimonials h4 {
color: #2E81CD;
font-size: 15px;
padding-bottom: 0;
padding-left: 0;
text-align: left;
padding-right: 0px;
}
.testimonials_wrap .testimonials .right_testimonials p {
font-size: 13px;
text-align: left;
color: #333;
}
.html_widget h2.article_heading {
display: none;
}
h2.article_heading {
border-bottom: 1px solid #E3E3E3;
color: #006F9D;
font-size: 18px;
line-height: 26px;
margin-left: 10px;
margin-right: 10px;
margin-top: 8px;
padding-left: 0;
text-transform: uppercase;
}
/*.widget_box h2 {
border-bottom: 1px solid #B9DCEF;
color: #006F9D;
font-size: 18px;
line-height: 26px;
padding-top: 0;
padding-left: 0;
margin-top: 0;
}*/
.content_top .slide, .content_bottom .slide {
background-color: #E8F0F3;
border: 1px solid #FFFFFF;
border-radius: 5px 5px 5px 5px;
box-shadow: 0 0 1px #065E81;
height: 270px;
margin-top: 5px;
width: 980px;
}
.slide {
display: inline-block;
width: 100%;
}

.content_top .slide .slide-image img, .content_bottom .slide .slide-image img {
max-width: 443px;
float: left;
cursor: pointer;
}
.content_top .slide .slide-text-right, .content_bottom .slide .slide-text-right {
float: right;
width: 423px;
}
.slide-text-right {
float: right;
margin-top: 0;
}
.subtitle {
font-size: 20px;
color: #002B53;
padding-right: 97px;
}
.slide-descr ul {
width: 330px;
height: 200px;
color: #002B53;
padding: 0px;
margin-left: 28px;
margin-top: 26px;
}

/*.widget_box ul li {
list-style-image: url("../images/dot.png");
padding-bottom: 19px;
}*/

.widget_box .allcourses_btn:hover {
text-decoration: none;
}

.middle_box_2 a:active, a:hover {
color: #F60;
}
a:hover {
text-decoration: none;
}

.clear {
clear: both;
}
