
.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

#container {
    width: 75%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error, #flash_alert {
    background-color: #FCC;
    border: solid 1px #C66;
}

.fieldWithErrors {
    display: inline;
}

.error_topics {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 12px;
}

.error_topics h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

.error_topics p {
    margin: 8px 10px;
}

.error_topics ul {
    margin: 0;
}

.topic {
    margin: 8px 0;
    padding: 8px 15px;
    border: solid 1px #999;
    width: 300px;
    border-radius: 3px;
    line-height: 1;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #CCC),
        color-stop(1, #F5F5F5)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #CCC 0%,
        #F5F5F5 100%
    );
}

.topic .content a {
    color: #000;
    text-decoration: none;
}

.topic .created_at {
    color: #555;
    font-size: 12px;
    float: right;
}

.topic .actions {
    font-size: 12px;
    margin-top: 5px;
}

.topic .actions a {
    text-decoration: none;
}

.nested_topics {
    margin-left: 30px;
}

.nested_topics .nested_topics .nested_topics .nested_topics {
    margin-left: 0;
}
