<h3 align = "center">Add Images</h3>
<table align="center">
<tr>
	<% @addimage.each do |images| %>
	
     <td>
		
	   <%= image_tag url_for(:controller => 'add_images',:action => 'show', :id =>images), :size => "50x50" %> 
	</td>
</tr>
<td>
		<%= link_to "show",add_image_path(images) %>
	</td>
 	<td>
 		<%= link_to "edit",edit_add_image_path(images) %>
 	</td> 
 	<td>
 		<%= link_to "destroy",images, method: :delete, data: { confirm: 'Are you sure?' } %>
 	</td>
 </tr>
 <%end%>
</table>	
