  <div class="content_footer"> 
   <div class="footer">
  <div class="inner_footer">
    <div class="flinksparent">
    <ul>
          <% @domain_root_account.topics.limit(4).each do |topic| %>
                 <li> <%= link_to topic.name, topic_path(topic) %></li>
           <% end %>      

      <!-- <li><a href="http://www.jigsawacademy.com/">HOME</a></li>
      <li><a href="http://www.jigsawacademy.com/learn-analytics">LEARN ANALYTICS</a></li>
      <li><a href="http://analyticstraining.com" target="_blank">BLOG</a></li>
      <li><a href="http://www.jigsawacademy.com/faculty">INSTRUCTORS</a></li>
      <li><a href="http://www.jigsawacademy.com/management">MANAGEMENT TEAM</a></li>
      <li><a href="http://www.jigsawacademy.com/course-schedule">SCHEDULE</a></li>
    
   
    </ul>
    <ul>

      <li><a href="http://www.jigsawacademy.com/jigsaw/courses/foundation-analytics">FOUNDATION COURSE</a></li>
      <li><a href="http://www.jigsawacademy.com/jigsaw/courses/retail-analytics-3">RETAIL ANALYTICS</a></li>
      <li><a href="http://www.jigsawacademy.com/analytics-courses/financial-analytics">FINANCIAL ANALYTICS</a></li>
      <li><a href="http://www.jigsawacademy.com/analytics-courses/r-analytics">ANALYTICS WITH R</a></li>
      <li><a href="http://www.jigsawacademy.com/corporate-training-analytics">CORPORATES</a></li>
      <li><a href="http://www.jigsawacademy.com/college-training-analytics">COLLEGES</a></li>
   
   
    </ul>
    
    <ul>

     <li><a href="http://analyticstraining.com/2012/3-degrees-that-will-prepare-you-for-a-career-in-analytics/" target="_blank">BUSINESS ANALYTICS</a></li>
      <li><a href="http://www.jigsawacademy.com/college/data-science-training/">DATA SCIENCE</a></li>
      <li><a href="http://www.jigsawacademy.com/career-in-analytics">CAREER IN ANALYTICS</a></li>
      <li><a href="http://www.jigsawacademy.com/">SAS TRAINING</a></li>
        <li><a href="http://www.jigsawacademy.com/analytics-courses/data-science-big-data" target="_blank">BIG DATA TRAINING</a></li>
       <li><a href="http://jigsawacademy.net/Beginners-guide-to-analytics/" target="_blank">ANALYTICS FOR BEGINNERS</a></li>
    </ul>
    
    <ul>

     <li><a href="http://www.jigsawacademy.com/testimonials">STUDENT TESTIMONIALS</a></li>
      <li><a href="http://www.jigsawacademy.com/faqs">FAQs</a></li>
      <li><a href="http://www.jigsawacademy.com/contact">CONTACT US</a></li>
      <li><a href="http://www.jigsawacademy.com/sas-virtual-lab">VIRTUAL LAB</a></li>
        <li><a href="http://www.jigsawacademy.com/analytics-placement">PLACEMENT SUPPORT</a></li>
           <li><a href="http://www.jigsawacademy.com/jigsaw-alumni">JIGSAW ALUMNI</a></li> -->
    </ul>
    </div>
    <div class="copyright">
    <span>
      <a href="http://www.jigsawacademy.com/terms-2">Terms and Conditions</a>
        <a href="http://www.jigsawacademy.com/legal">Legal</a>
        <a href="http://www.jigsawacademy.com/disclaimer-and-privacy">Disclamer and Privacy</a>
        <a href="http://www.jigsawacademy.com/refund-and-cancellation">Cancellation and Refund</a>
        
    </span>
    <p style = "color: #699BB3;">
    © Copyright 2012 Jigsaw Academy Education Pvt. Ltd.</p></div>
    
    </div>
  </div>
  
</div>
