<div class="main_layout">
    <div class="content_header">
  <header>
  <a href="http://www.jigsawacademy.com/" class="logo">
    <img src="http://www.jigsawacademy.com/images/logo.png" alt=""></a>
    <div class="logo-tagline">
     <img src="http://www.jigsawacademy.com/images/logo_tagline.png" alt="">
    </div>
    <div class="top_right_header">
     <!--  <div class="student_btn">
        <a href="http://www.jigsawacademy.com/student_login" class="login_anchor">Student Login</a>
        <a href="http://www.jigsawacademy.com/faculty_login" style="border:0px;">Faculty Login</a>
      </div> -->
      
    
     <div class="social_header">  
      <div class="social_icon"> 
        <a href="http://www.linkedin.com/company/jigsaw-academy" class="linked_icon" target="_blank"></a>
        <a href="http://www.facebook.com/jigsawacademy" class="facebook_icon" target="_blank"></a> 
        <a href="http://twitter.com/jigsawacademy" class="twitter_icon" target="_blank"></a> 

      </div>
    </div>
</div>
  </header>
